<div class="callback" id="callback">
	<div class="callback__inner">
		<div class="callback__text">УВАГА! Персональні данні не розголошуються та не передаються стороннім особам. Ми
			піклуємося про вашу конфіденційність</div>
		{% include "block/callback/callback-form.njk" %}
	</div>
</div>
