<div class="callback__form form-call">
	<form class="form-call__inner" >

		<div class="form-call__row">
			<div class="input input_size_l">
				<span class="input__box">
					<input class="input__control" placeholder="Имя" name="name">
				</span>
			</div>
		</div>

		<div class="form-call__row">
			<div class="input input_size_l">
				<span class="input__box">
					<input class="input__control" placeholder="Телефон" name="phone">
				</span>
			</div>
		</div>

		<div class="form-call__row">
			<button class="button button_size_l">
				<div class="button__text">Надіслати</div>
			</button>
		</div>
	</form>
</div>