<div class="item-c wow fadeInDown {{inject.itemClass}}" data-wow-duration="1s" data-wow-delay="{{loop.index  / 4}}s">
	<div class="item-c__inner">
		<div class="item-c__box">
			<div class="item-c__title">{{item.name}}</div>
			<div class="item-c__text">{{item.text }}</div>
			{# Добавить для странцы контактов <div class="item-c__line">{{itemText}}</div>#}
		</div>

	</div>
</div>