<section class="section page__section">
	<div class="section__inner layout__wrap {{inject.pageSectionClass}}">
		{% if inject.title %}
			<div class="section__title title">
				<div class="title__main">{{inject.title}}</div>
				<div class="title__deco"></div>
			</div>
		{% endif %}

		{% block content %}{% endblock %}
	</div>
</section>