<div class="benefits-item benefits__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="{{loop.index  / 4}}s">
	<div class="benefits-item__inner">
		<div class="benefits-item__icon">
			<div class="icon icon_benefits"></div>
		</div>
		<div class="benefits-item__body">
			<div class="benefits-item__count">{{item.count}}</div>
			<div class="benefits-item__text">{{item.name}}</div>
		</div>
	</div>
</div>