<li class="competence__item item-t wow fadeInUp" data-wow-duration="1s">
	<div class="item-t__inner">

		<div class="item-t__control-box">
			<div class="item-t__number">0{{ loop.index }}</div>
			<div class="item-t__control">
				<div class="icon icon_arrow icon_arrow_to_bottom"></div>
			</div>
		</div>
		<div class="item-t__body">
			<div class="item-t__title">{{item.title}}</div>
			<div class="item-t__text">{{item.text}}</div>
		</div>
	</div>
</li>