<div class="inner">
	<div class="inner__inner">
		<div class="inner__imgbox">
			<img src="./img/content/inner.jpg" alt="dd" class="inner__img img">

		</div>
		<div class="inner__textbox">
			{{news.news_list[0].longread}}
		</div>
		<div class="inner__clear"></div>
	</div>
</div>