<div class="history">

	<div class="history__inner">
		<div class="history__textbox">
			<div class="history__text">
				<p>Адвокатське об’єднання «Максим Журавльов і Партнери» надає послуги абонентського юридичного обслуговування - комплексний юридичний супровід діяльності юридичних осіб та фізичних осіб-підприємців на договірній основі з усіх питань, що виникають в процесі щоденної підприємницької діяльності.</p>

				<p>Абонентське юридичне обслуговування Адвокатським бюро «Максим Журавльов і Партнери» - це професійні послуги адвокатів, що спеціалізуються в різних галузях права, доступний і вигідний варіант для власників середнього і малого бізнесу, підприємців.</p>

			</div>
		</div>
		<div class="history__imgbox">
			<img src="./img/content/history.jpg" alt="" class="history__img img">
		</div>
	</div>

	{#	<div class="history__imgbox">
		<div class="history__bgbox"></div>
		<img src="./img/content/history.jpg" alt="" class="history__img img">
	</div>#}
</div>