<div class="principle__item principle-item wow {{ cls.next()}}" data-wow-duration="1s">
	<div class="principle-item__inner">
		<div class="principle-item__name-box">
			<div class="principle-item__name">{{item.name}}</div>
		</div>
		<div class="principle-item__about-box">
			<div class="principle-item__about">
				{{item.about}}
			</div>
		</div>
	</div>
</div>