.layout {
	&__flat {
		width: 100%;
		height: 100%;
	}
	&__inner {
		position: relative;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__wrap {
		@include wrapper();
	}

	&__box {
		@include box();
	}

	&__cell {
		@include box();
	}
}
