@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../font/Montserrat-Medium.woff2") format("woff2"),url("../font/Montserrat-Medium.ttf") format("ttf"), url("../font/Montserrat-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../font/Montserrat-Bold.woff2") format("woff2"),url("../font/Montserrat-Bold.ttf") format("ttf"), url("../font/Montserrat-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../font/Montserrat-Regular.woff2") format("woff2"),url("../font/Montserrat-Regular.ttf") format("ttf"), url("../font/Montserrat-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
