/* COLORS */

$color_blue: rgba(1, 46, 103, 1);
$color_blue_light: rgba(1, 46, 103, 0.8);
$color_blue_lighten: rgba(1, 46, 103, 0.6);

$color_dark: rgba(7, 11, 12, 1);
$color_gray: rgba(244, 244, 244, 1);
$color_gray_op: rgba(244, 244, 244, 0.2);

$color_white: rgba(255, 255, 255, 1);
/* TIME*/

$th: 0.25s;
