<div class="how-work__item how-work-item wow fadeInDown" data-wow-duration="1s" data-wow-delay="{{loop.index  / 4}}s">
	<div class="how-work-item__inner">
		<div class="how-work-item__box">
			<div class="how-work-item__title">{{item.name}}</div>
			<div class="how-work-item__text">{{item.text}}</div>
		</div>

	</div>
</div>