<div class="banner-main">
	<div class="banner-main__inner">
		<div class="banner-main__about">
			<div class="banner-main__title title">
				<div class="title__simple">Про нас</div>
			</div>
			<div class="banner-main__text">Ми вирішуємо складні юридичні питання і допомагаємознайти оптимальне рішення</div>
			<div class="banner-main__button">
				<a href="#" class="button button_size_l">
					<div class="button__text">Зв'язатися</div>
				</a>
			</div>
		</div>
	</div>
</div>