<div class="specialists-item specialists__item wow {{ cls.next()}}" data-wow-duration="1s">
	<div class="specialists-item__inner">
		<div class="specialists-item__imgbox">
			<img src="./img/specialists/{{item.photo}}.jpg" alt="" class="specialists-item__img img">
		</div>
		<div class="specialists-item__content">
			<div class="specialists-item__name">{{item.name}}</div>
			<div class="specialists-item__position">{{item.position}}</div>
			<div class="specialists-item__introtext">{{item.introtext}}</div>
			<div class="specialists-item__more more">
				<a href="#" class="more__inner">
					<div class="more__text">Дивитись</div>
					<div class="more__icon icon icon_arrow_long"></div>
				</a>
			</div>
		</div>
	</div>
</div>