<section class="breadcrumbs">
	<div class="breadcrumbs__inner">

		<div class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link link">
					Главная
				</a>
		</div>
		<div class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link link">
					Вложенная
				</a>
		</div>

	</div>
</section>