<div class="about">
	<div class="about__inner">
		<div class="layout__wrap about__text text">
			<p>Адвокатське об’єднання «Максим Журавльов і Партнери» надає послуги абонентського юридичного
				обслуговування - комплексний юридичний супровід діяльності юридичних осіб та фізичних осіб-підприємців
				на договірній основі з усіх питань, що виникають в процесі щоденної підприємницької діяльності.</p>
			<p>Абонентське юридичне обслуговування Адвокатським бюро «Максим Журавльов і Партнери» - це професійні
				послуги адвокатів, що спеціалізуються в різних галузях права, доступний і вигідний варіант для власників
				середнього і малого бізнесу, підприємців.</p>
		</div>
		<div class="about__imgbox">
			<img
				src="./img/content/about.jpg"
				alt=""
				class="about__img img"
			>
		</div>
	</div>
</div>